<html>
    <head>
        <meta charset="utf-8">
    </head>
    <body style="margin-bottom: 0px; margin-top: 0px; padding-bottom: 0px; padding-top: 0px;">
        <p>尊敬的 <b>幸运淘</b> 用户  <strong>{{ user.screen_name }}</strong>： </p>
        <div style="margin-left:30px;">
        <p>您好！</p>
        <p>您在 {{ APP_NAME }} 申请进行帐号密码修改的用户名为:  <strong>{{ user.username }}</strong>。</p>
        <p>如果不是您的操作申请请忽略或向我们举报。</p>
        <p>您也可以点击如下链接来完成帐号验证。</p>
        <p><a href="{{ url }}" target="_blank">{{ url }}</a></p>
        <p>如果上面的链接无法点击，您也可以复制链接，粘贴到您浏览器的地址栏内，然后按“回车”键打开预设页面，完成相应功能。</p>
        <p>验证将会在30分钟后失效，请尽快完成身份验证，否则需要重新进行验证。</p>
        <p>如果有其他问题，请联系我们：<a href="mailto:support@favbuy.com" target="_blank">support@favbuy.com</a> 谢谢！</p>
        </div><p>此为系统消息，请勿回复</p><div style="display:none;"></div>
    </body>
</html>