{% extends "base.html" %}

{% block breadcrumb %}
<li>
    <a href="/baokuan/admin/">Home</a> <span class="divider">/</span>
</li>
<li>
    <a href="/baokuan/admin/lotteries/">领奖</a>
</li>
{% endblock %}

{% block content %}
    {% for lottery in lotteries %}
    <div class="row-fluid sortable">
        <div class="box span12">
            <div class="box-header well" data-original-title>
                <h2><i class="icon-list-alt"></i> {{ lottery.period|date:"Y-m-d" }}</h2>
                <div class="box-icon">
                    <a href="#" class="btn btn-minimize btn-round"><i class="icon-chevron-up"></i></a>
                    <a href="#" class="btn btn-close btn-round"><i class="icon-remove"></i></a>
                </div>
            </div>
            <div class="box-content">
                <div class="box-content">
                    <div class="page-header">
                        <h2> 最高分<small style="margin-left: 5px;">{{ lottery.score }}</small></h2>
                        <h2> 总奖金<small style="margin-left: 5px;">{{ lottery.paper.bonus }}</small></h2>
                        <h2> 答案<small style="margin-left: 5px;"></small></h2>
                    </div>
                    <ul class="dashboard-list">
                        {% for user in lottery.users %}
                        <li>
                            <a href="#">
                                <img class="dashboard-avatar" alt="{{ user.screen_name }}" src="{{ quiz.images.0 }}">
                            </a>
                            <strong>用户名:</strong> <a href="#">{{ user.username }}</a><br>
                            <strong>设备:</strong><a href="#">{{ user.device }}</a><br>
                            <strong>第三方账号:</strong>
                            {% for account in user.accounts %}
                            <a href="javascript:void(0)">{{ account.screen_name }} - {{ account.platform }}</a>
                            {% endfor %}
                            <br>
                            <a pid={{ lottery.paper.id }} uid={{ user.id }} class="mark"><i class="icon-question-sign"></i></a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div><!--/span-->
    </div><!--/row-->
    {% endfor %}

{% endblock %}

{% block js %}
    $('a.mark').click(function(){
        var this_node = $(this);
        if(this_node.attr('show')=='true'){
            return;
        }
        var parent = this_node.parent()
        var paper_id = $(this).attr('pid');
        var user_id = $(this).attr('uid');
        var url = '/baokuan/admin/mark/?user_id='+user_id+'&paper_id='+paper_id;
        $.get(url, function(data){
            data = JSON.parse(data);
            user_info = '<table class="table table-striped table-bordered">';
            user_info += '<thead>';
            user_info += '<tr>';
            user_info += '<th>排名</th>';
            user_info += '<th>得分</th>';
            user_info += '<th>奖金</th>';
            user_info += '<th>电话</th>';
            user_info += '<th>领奖状态</th>';
            user_info += '<th>修改领奖状态</th>';
            user_info += '</tr>';
            user_info += '</thead>';
            user_info += '<tbody>';
            user_info += '<tr id='+data.id+'>';
            user_info += '<td class="center">'+data.rank+'</td>';
            user_info += '<td class="center">'+data.score+'</td>';
            user_info += '<td class="center">'+data.bonus+'</td>';
            user_info += '<td class="center">'+(data.phone || '')+'</td>';
            user_info += '<td class="center bonus_status">';

            if(data.is_get_bonus == 1){
                user_info += '<span class="label label-warning">正在处理';
            }
            else if(data.is_get_bonus == 2){
                user_info += '<span class="label label-success">已领取';
            }
            else{
                user_info += '<span class="label">未领取';
            }
            user_info += '</span></td>';
            user_info += '<td class="center">';
            user_info += '<a class="btn btn-success" href="javascript:void(0);" id="lottery_done_'+data.id+'">完成';
            user_info += '</a><span style="margin-right: 5px;"></span>';
            user_info += '<a class="btn btn-inverse" href="javascript:void(0);" id="lottery_undo_'+data.id+'">撤销';
            user_info += '</a>';
            user_info += '</td>';
            user_info += '</tr>';
            user_info += '</tbody>';
            user_info += '</table>';
            parent.append(user_info);
            this_node.attr('show', 'true')

            $('#lottery_done_'+data.id).click(function(){
                var tr_node = $(this).parent().parent();
                var mark_id = tr_node.attr('id');
                var url = '/baokuan/admin/mark/';
                $.post(url, {'mark_id': mark_id}, function(data){
                    var node = tr_node.children(".bonus_status").children('span');
                    if(data=='0'){
                        node.attr('class', 'label');
                        node.html('未领取');
                    }
                    else if(data=='1'){
                        node.attr('class', 'label label-warning');
                        node.html('正在处理');
                    }
                    else if(data=='2'){
                        node.attr('class', 'label label-success');
                        node.html('已领取')
                    }
                });
            });
            $('#lottery_undo_'+data.id).click(function(){
                var tr_node = $(this).parent().parent();
                var mark_id = tr_node.attr('id');
                var url = '/baokuan/admin/mark/?mark_id='+mark_id
                $.ajax({
                    type: "DELETE",
                    url: url
                }).done(function(data){
                    var node = tr_node.children(".bonus_status").children('span');
                    if(data=='0'){
                        node.attr('class', 'label');
                        node.html('未领取');
                    }
                    else if(data=='1'){
                        node.attr('class', 'label label-warning');
                        node.html('正在处理');
                    }
                    else if(data=='2'){
                        node.attr('class', 'label label-success');
                        node.html('已领取');
                    }
                });
            });

        });
    });
{% endblock %}            