<!-- left menu starts -->
<div class="span2 main-menu-span">
    <div class="well nav-collapse sidebar-nav">
        <ul class="nav nav-tabs nav-stacked main-menu">
            <li class="nav-header hidden-tablet">Main</li>
            <li><a class="ajax-link" href="/admin/dashboard/"><i class="icon-home"></i><span class="hidden-tablet"> Dashboard</span></a></li>
            <li><a class="ajax-link" href="/admin/users/"><i class="icon-user"></i><span class="hidden-tablet"> 用户</span></a></li>
            <li><a class="ajax-link" href="/admin/papers/"><i class="icon-edit"></i><span class="hidden-tablet"> 题目</span></a></li>
            <li><a class="ajax-link" href="chart.html"><i class="icon-gift"></i><span class="hidden-tablet"> 领奖</span></a></li>
        </ul>
<!--         <label id="for-is-ajax" class="hidden-tablet" for="is-ajax"><input id="is-ajax" type="checkbox"> Ajax on menu</label> -->
    </div><!--/.well -->
</div><!--/span-->
<!-- left menu ends -->