{% extends "base.html" %}

{% block breadcrumb %}
<li>
    <a href="/admin/">Home</a> <span class="divider">/</span>
</li>
<li>
    <a href="/admin/papers/">题目</a> <span class="divider">/</span>
</li>
<li>
    <a href="/admin/quiz/{{ quiz.id }}/product/{{ product.id }}">选项</a>
</li>
{% endblock %}

{% block content %}
<form id="form-product" class="form-horizontal" {% if product %}method="POST" action="/baokuan/admin/quiz/{{ quiz.id }}/product/{{ product.id }}/"{% endif %}>{% csrf_token %}
    <fieldset>
        <div class="control-group">
            <label class="control-label" for="tid">淘宝商品id</label>
            <div class="controls">
                <input class="input-xlarge disabled" id="disabledInput" type="text" readonly name="tid" value="{{ product.tid }}">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="title">商品名称</label>
            <div class="controls">
                <input class="input-xlarge focused" id="focusedInput" type="text" name="title" value="{{ product.title }}">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="categories">商品类别</label>
            <div class="controls">
                <input class="input-xlarge focused" id="focusedInput" type="text" name="categories" value="{{ product.categories.0 }}">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="description">商品描述</label>
            <div class="controls">
                <div class="textarea">
                    <textarea class="" name="description">{{ product.description }}</textarea>
                </div>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="origin_url">商品原链接</label>
            <div class="controls">
                <input class="input-xlarge focused" id="focusedInput" type="url" name="origin_url" value="{{ product.origin_url }}">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="url">淘宝客链接</label>
            <div class="controls">
                <input class="input-xlarge focused" id="focusedInput" type="url" name="url" value="{{ product.url }}">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="price">商品价格 RMB</label>
            <div class="controls">
                <input class="input-xlarge focused" id="focusedInput" type="number" step="0.01" name="price" value="{{ product.price }}">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="images">商品图片</label>
            <div class="controls">
                <input class="input-xlarge focused" id="focusedInput" type="url" name="images" value="{{ product.images.0 }}">
            </div>
        </div>
        <div class="form-actions">
            {% if product %}<button type="submit" class="btn btn-primary">Save</button>
            {% else %}
            <button type="button" class="btn btn-primary">Save</button>
            {% endif %}
            <button type="reset" class="btn">Cancel</button>
        </div>
    </fieldset>
</form>

    {% if product %}
    {% else %}
        <div class="control-group">
            <label class="control-label" for="selectError3"></label>
            <div class="controls">
            <select id="select_category">
            </select>
            <select id="select_sub_category">
            </select>
            <select id="select_third_category">
            </select>
            </div>
        </div>
        <div class="row-fluid">
            <div class="box span12">
                <div class="box-header well" data-original-title>
                    <h2><i class="icon-picture"></i> 爆款</h2>
                    <div class="box-icon">
                        <a href="javascript:void(0)" class="btn btn-setting btn-round"><i class="icon-cog"></i></a>
                        <a href="javascript:void(0)" class="btn btn-minimize btn-round"><i class="icon-chevron-up"></i></a>
                        <a href="javascript:void(0)" class="btn btn-close btn-round"><i class="icon-remove"></i></a>
                    </div>
                </div>
                <div class="box-content">
                    <ul class="thumbnails gallery" id="category_products">
                    </ul>
                </div>
                <div id="paginator"></div>
            </div><!--/span-->
        </div>
    {% endif %}

{% endblock %}

{% block js %}
    $(function(){
        var url = "/baokuan/admin/baokuan/category/";
        $.get(url, function(data){
            categories = JSON.parse(data)['categories'];
            for(var i in categories){
                $('#select_category').append('<option value="'+i+'">'+i+'</option>');
            }
            
            $('#select_category').change(function(){
                var cat_node = $('#select_category');
                var cat = cat_node.val();
                var sub_cat_node = $('#select_sub_category');
                sub_cat_node.empty();
                for(var subcat in categories[cat]){
                    sub_cat_node.append('<option value="'+subcat+'">'+subcat+'</option>');
                }

                trigger_third_cat_change(categories);
            });

            $('#select_sub_category').change(function(){
                trigger_third_cat_change(categories);
            });


        });
    });

    function trigger_third_cat_change(categories){
        var cat_node = $('#select_category');
        var cat = cat_node.val();
        var sub_cat_node = $('#select_sub_category');
        var subcat = sub_cat_node.val();
        var third_cat_node = $('#select_third_category');
        third_cat_node.empty();

        if(isNaN(categories[cat][subcat])){
            for(var thirdcat in categories[cat][subcat]){
                third_cat_node.append('<option value="'+categories[cat][subcat][thirdcat]+'">'+thirdcat+'</option>');
            }
            return;
        }

        var cat_id = categories[cat][subcat];
        var url = '/baokuan/admin/baokuan/category/' + cat_id + '/';
        get_products(url, cat_id);

    }

    function get_products(url, cat_id){
        $.get(url, function(res){
            var data = JSON.parse(res);
            var products = data['products'];
            var products_node = $('#category_products');
            products_node.empty();

            if(products.length==0){
                products_node.append('<p>Nothing Found !</p>');
            }

            for(var i in products){
                var product = products[i];
                products_node.append('<li id="'+product.itemid+'" class="thumbnail" title="'+product.name+'"><a title="'+product.name+'"><img class="scale" src="'+product.image+'" alt="'+product.name+'"></a><p class="price" value="'+product.price+'">单价: '+product.price+'</p><p>销量: '+product.deals+'</p><p>销售额: '+product.sales+'</p><p>排名: '+product.ranking+'</p><a href="http://detail.tmall.com/item.htm?id='+product.itemid+'">淘宝原址</a></li>');
            }
            $("#category_products li").on("click", function(){
                var node = $(this);
                var tid = node.attr('id');
                var title = node.attr('title');
                var price = node.children('p.price:first').attr('value');
                var images = node.children('a').children('img:first').attr('src');
                var categories = $('#select_category').val()

                $('#form-product input[name$="tid"]').val(tid);
                $('#form-product input[name$="title"]').val(title);
                $('#form-product input[name$="price"]').val(price);
                $('#form-product input[name$="images"]').val(images);
                $('#form-product input[name$="categories"]').val(categories);
                $('#form-product input[name$="origin_url"]').val('http://detail.tmall.com/item.htm?id='+tid);
            });

            var paginator_node = $('#paginator');
            paginator_node.empty();

            var pagination_str = '<div class="pagination" page="'+ data.current + '" limit="' + data.limit + '" end="' + data.total_page + '">';
            pagination_str += '<ul>';
            if(data.has_previous){
                pagination_str += '<li><a class="start">首页</a></li>';
                pagination_str += '<li><a class="prev"><<</a></li>';
            }

            for(var i in data.pages){
                var page = data.pages[i];
                var condition = (data.current == page) ? 'class="active"' : 'class="'+page+'"';
                pagination_str += '<li '+ condition +'><a '+condition +'>'+ page +'</a></li>';
            }

            if(data.has_next){
                pagination_str += '<li><a class="next">>></a></li>';
                pagination_str += '<li><a class="end">末页</a></li>';
            }
            pagination_str += '<li class="lead text-info"> (' + data.current +' / ' + data.total_page + ')</li>';
            pagination_str += '</ul>';
            pagination_str += '</div>';

            $('#paginator').append(pagination_str);
            $('div.pagination li a').click(function(){
                var this_node = $(this);
                var page_node = $('.pagination');
                var current_page = page_node.attr('page');
                var limit = page_node.attr('limit');
                var end_page = page_node.attr('end');

                var jump_page = 1;
                if(this_node.attr('class') == 'active'){
                    return;
                }
                else if(this_node.attr('class') == 'start'){
                    jump_page = 1;
                }
                else if(this_node.attr('class') == 'prev'){
                    jump_page = current_page - 1;
                }
                else if(this_node.attr('class') == 'next'){
                    jump_page = current_page + 1;
                }
                else if(this_node.attr('class') == 'end'){
                    jump_page = end_page;
                }
                else{
                    jump_page = this_node.attr('class');
                }

                var jump_url = '/baokuan/admin/baokuan/category/' + cat_id + '/?page='+jump_page+'&limit='+limit;
                get_products(jump_url, cat_id);

            });

        });
    }

    $('#select_third_category').change(function(){
        var cat_id = $(this).children('option:selected').val();
        var url = '/baokuan/admin/baokuan/category/' + cat_id + '/';
        get_products(url, cat_id);
    });

    $('#form-product .form-actions button').click(function(){
        var form_node = $('#form-product');
        var url = "/baokuan/admin/quiz/{{ quiz.id }}/product/";
        $.post(url, form_node.serialize(), function(data){
            res = JSON.parse(data)['success'];
            alert(res);
            form_node[0].reset();
        });
    });

{% endblock %}